@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
  --colour-1: #f5f5f4;
  --colour-2: #a6a09b;
  --colour-3: #57534d;
  --colour-4: #292524;
  --colour-5: #00d3f3;
}

.dark {
  --colour-1: #292524;
  --colour-2: #57534d;
  --colour-3: #a6a09b;
  --colour-4: #f5f5f4;
  --colour-5: #00d3f3;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Parkinsans', serif;
}
